<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004852013448-t02j2omegaig047b9047er46caeve72e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004852013448-t02j2omegaig047b9047er46caeve72e</string>
	<key>API_KEY</key>
	<string>AIzaSyCQgtTWnfZm_i9RkvCUUDzpNUmr1ojqt58</string>
	<key>GCM_SENDER_ID</key>
	<string>1004852013448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semana.fatec</string>
	<key>PROJECT_ID</key>
	<string>fatec-semana</string>
	<key>STORAGE_BUCKET</key>
	<string>fatec-semana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004852013448:ios:f8a50567437d67db3bb23d</string>
</dict>
</plist>